<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dentex.youtube.downloader"
    android:installLocation="auto"
    android:versionCode="41"
    android:versionName="1.8.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_new"
        android:label="@string/app_name" >
        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" />

        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false" >
        </activity>
        <activity
            android:name="dentex.youtube.downloader.ShareActivity"
            android:exported="true"
            android:label="@string/title_activity_share"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="dentex.youtube.downloader.SettingsActivity"
            android:label="@string/app_name"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dentex.youtube.downloader.AboutActivity"
            android:label="@string/title_activity_about"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <activity
            android:name="dentex.youtube.downloader.docs.GplShowActivity"
            android:label="@string/title_activity_gpl_show"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <activity
            android:name="dentex.youtube.downloader.docs.MitShowActivity"
            android:label="@string/title_activity_mit_show"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <activity
            android:name="dentex.youtube.downloader.docs.CreditsShowActivity"
            android:label="@string/title_activity_credits_show"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <activity
            android:name="dentex.youtube.downloader.docs.ChangelogActivity"
            android:label="@string/title_changelog"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <activity
            android:name="dentex.youtube.downloader.UpgradeApkActivity"
            android:label="@string/title_activity_upgrade_apk" 
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <service android:name="dentex.youtube.downloader.service.DownloadsService" />
        <service android:name="dentex.youtube.downloader.service.AutoUpgradeApkService" />
    </application>

</manifest>